src/main/mule/file-watermark-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sftp:config name="RebexSFTP_Config" doc:name="SFTP Config" doc:id="da8f3565-31db-4bb4-b553-9293514f4aec" >
		<sftp:connection host="192.168.0.197" port="2222" username="tester" password="password" />
	</sftp:config>
	<flow name="Automatic-watermark-on-files-flow" doc:id="176bf4b2-0854-4c4f-9a33-1930d5063b36" >
		<sftp:listener doc:name="On New or Updated File" doc:id="db4fc0ca-cc3e-4b65-b16d-bc9f88d7e1ec" config-ref="RebexSFTP_Config" directory="inputFiles" recursive="false" watermarkEnabled="true">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</sftp:listener>
		<logger level="INFO" doc:name="Logger" doc:id="78a844e8-5c28-4056-aa4c-bf5a8b752df7" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="56caeb30-127b-492a-952e-13c2db69d249">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "The file was processed successfully"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
